:root {
  --color-primery: #faf4ea;
  --color-brand: #819857;
  --color-primary-dark: rgba(49, 38, 26, 1);
  --color-brand-dark: rgba(70, 89, 41, 1);
}

/* Base */
body {
  color: var(--color-primary-dark);
  background: var(--color-primery);
}
ul {
  list-style-type: none;
}

/* Buttons */
.button {
  color: var(--color-primery);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  cursor: pointer;
}
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* Links */
.link {
  color: var(--color-brand);
  text-decoration: none;
}
.link:hover {
  color: var(--color-primary-dark);
}
/* Hero section */
.hero-title {
  color: var(--color-brand);
}
.hero-title span {
  color: var(--color-primery);
}
/* Advantages section */
.advantages-list li {
  color: var(--color-primery);
  background-color: var(--color-brand);
}
.section-title {
  color: var(--color-primary-dark);
}
.section-title span {
  color: var(--color-brand-dark);
}
