:root {
  --color-primery: #faf4ea;
  --color-brand: #819857;
  --color-primary-dark: rgba(49, 38, 26, 1);
  --color-brand-dark: rgba(70, 89, 41, 1);
}

/* Base */
body {
  color: var(--color-primary-dark);
  background: var(--color-primery);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}

/* Buttons */
.button {
  color: var(--color-primery);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 400;
}
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
  font-weight: 600;
}

/* Links */
.link {
  color: var(--color-brand);
  text-decoration: none;
}
.link:hover {
  color: var(--color-primary-dark);
}
/* Hero section */

.hero-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: var(--color-brand);
  text-align: center;
  text-transform: uppercase;
}

.hero-title span {
  color: var(--color-primery);
  font-weight: 900;
}
/* Advantages section */
.advantages-list li {
  color: var(--color-primery);
  background-color: var(--color-brand);
}
.advantages-list li.advantages-item {
  font-size: 20px;
  font-weight: 300;
}
.section-title {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}
.section-title span {
  color: var(--color-brand-dark);
}
/* Traditions section */
#traditions-section .traditions-section span.brand-uppercase {
  color: var(--color-brand-light, #819857);
  text-transform: uppercase;
}
#traditions-section .traditions-section span.brand-lowercase {
  color: var(--color-brand-light, #819857);
  text-transform: lowercase;
  font-weight: 600;
}
/* Chefs section */
.chefs-section .chef-title {
  font-size: 40px;
  font-weight: 600;
}
